body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
    text-align: center;
}

.app-header {
    background-color: rgba(98, 75, 228, .8);
    padding: 40px 20px;
    color: white;
}

.display-block {
   display: block;
}

button {
    background-color: rgba(98, 75, 228, .8);
    box-shadow: 0 5px 13px #d3d3d3;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    padding: 20px 30px;
}

button:hover {
    background-color: rgba(98, 75, 228, .9);
    transition: background-color 500ms;
}

input {
    font-size: 16px;
    margin-top: 16px;
    padding: 10px 20px;
}