.person.person-card {
background-color: rgba(205, 79, 188, 0.8);
border: 1px solid #ccc;
margin: 20px auto;
padding: 15px 20px;
width: 50%;
}

.person.person-data {
    color: #fff;
    font-size: 20px;
}

.person.person-card strong {
    background-color: rgba(98, 75, 228, .8);
    padding: 10px;
    margin-left: 3px;
}